.lh-container {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
@media (min-width:576px) {
    .lh-container {max-width:540px}
}
@media (min-width:768px) {
    .lh-container {max-width:720px}
}
@media (min-width:992px) {
    .lh-container {max-width:960px}
}
@media (min-width:1200px) {
    .lh-container {max-width:1200px}
}
.lh-container-fluid {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
.lh-row {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
}
.lh-col-md-1,
.lh-col-md-2,
.lh-col-md-3,
.lh-col-md-4,
.lh-col-md-5,
.lh-col-md-6,
.lh-col-md-7,
.lh-col-md-8,
.lh-col-md-9,
.lh-col-md-10,
.lh-col-md-11,
.lh-col-md-12 {
    position:relative;
    width:100%;
    padding-right:15px;
    padding-left:15px;
    box-sizing:border-box;
}
.lh-col-md-1 {
    -ms-flex:0 0 8.333333%;
    flex:0 0 8.333333%;
    max-width:8.333333%;
}
.lh-col-md-2 {
    -ms-flex:0 0 16.666667%;
    flex:0 0 16.666667%;
    max-width:16.666667%;
}
.lh-col-md-3 {
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%;
}
.lh-col-md-4 {
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%;
}
.lh-col-md-5 {
    -ms-flex:0 0 41.666667%;
    flex:0 0 41.666667%;
    max-width:41.666667%;
}
.lh-col-md-6 {
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
}
.lh-col-md-7 {
    -ms-flex:0 0 58.333333%;
    flex:0 0 58.333333%;
    max-width:58.333333%;
}
.lh-col-md-8 {
    -ms-flex:0 0 66.666667%;
    flex:0 0 66.666667%;
    max-width:66.666667%;
}
.lh-col-md-9 {
    -ms-flex:0 0 75%;
    flex:0 0 75%;
    max-width:75%;
}
.lh-col-md-10 {
    -ms-flex:0 0 83.333333%;
    flex:0 0 83.333333%;
    max-width:83.333333%;
}
.lh-col-md-11 {
    -ms-flex:0 0 91.666667%;
    flex:0 0 91.666667%;
    max-width:91.666667%;
}
.lh-col-md-12 {
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%;
}
html {
    box-sizing: border-box;
}
body {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    font-size: 16px;
    color: #4f5362;
}
*, *:before, *:after {
    box-sizing: inherit;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    color: #4f5362;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
    border: 0;
} section[data-section-id="bxnrwrlkd77"]  .lh-call-to-action {padding: 176px 0px;} section[data-section-id="bxnrwrlkd77"] .lh-heading.lh-light .lh-subtitle, section[data-section-id="bxnrwrlkd77"]   .lh-heading.lh-light .lh-title, section[data-section-id="bxnrwrlkd77"]   .lh-heading.lh-light .lh-text {color: rgb(255, 255, 255);} section[data-section-id="bxnrwrlkd77"] .lh-heading.lh-dark .lh-subtitle, section[data-section-id="bxnrwrlkd77"]   .lh-heading.lh-dark .lh-title, section[data-section-id="bxnrwrlkd77"]   .lh-heading.lh-dark .lh-text {color: rgb(17, 17, 17);} section[data-section-id="bxnrwrlkd77"] .lh-content.lh-left {text-align: left;} section[data-section-id="bxnrwrlkd77"] .lh-content.lh-center {text-align: center;} section[data-section-id="bxnrwrlkd77"] .lh-content.lh-right {text-align: right;} section[data-section-id="bxnrwrlkd77"] .lh-content.lh-center .lh-button {justify-content: center;} section[data-section-id="bxnrwrlkd77"] .lh-content.lh-right .lh-button {justify-content: flex-end;} section[data-section-id="bxnrwrlkd77"] .lh-heading .lh-subtitle {text-transform: uppercase;} section[data-section-id="bxnrwrlkd77"] .lh-heading .lh-subtitle, section[data-section-id="bxnrwrlkd77"]   .lh-heading .lh-text {font-size: 1.125rem;line-height: 27px;} section[data-section-id="bxnrwrlkd77"] .lh-heading .lh-title {font-size: 3rem;font-weight: 500;line-height: 71px;text-transform: none;} section[data-section-id="bxnrwrlkd77"] .lh-button {display: flex;} section[data-section-id="bxnrwrlkd77"] .lh-button .lh-link-button {font-size: 1rem;display: inline-block;padding: 7px 19px;margin-right: 10px;border-radius: 3px;margin-top: 30px;} section[data-section-id="bxnrwrlkd77"] .lh-button .lh-c-light .lh-link-button, section[data-section-id="bxnrwrlkd77"]   .lh-button .lh-c-dark .lh-link-button {transition: all 0.5s ease 0s;} section[data-section-id="bxnrwrlkd77"] .lh-button .lh-c-light .lh-link-button {color: rgb(17, 17, 17);background: rgb(255, 255, 255);} section[data-section-id="bxnrwrlkd77"] .lh-button .lh-c-light .lh-link-button:hover {color: rgb(255, 255, 255);background: rgb(17, 17, 17);} section[data-section-id="bxnrwrlkd77"] .lh-button .lh-c-dark .lh-link-button {color: rgb(255, 255, 255);background: rgb(17, 17, 17);} section[data-section-id="bxnrwrlkd77"] .lh-button .lh-c-dark .lh-link-button:hover {color: rgb(17, 17, 17);background: rgb(255, 255, 255);}@media (max-width: 991px) { section[data-section-id="bxnrwrlkd77"] .lh-call-to-action .lh-content {text-align: center;} section[data-section-id="bxnrwrlkd77"] .lh-call-to-action .lh-content .lh-button {justify-content: center;} section[data-section-id="bxnrwrlkd77"] .lh-call-to-action {padding: 120px 0px;}}@media (max-width: 767px) { section[data-section-id="bxnrwrlkd77"] .lh-heading .lh-title {font-size: 2rem;line-height: 60px;} section[data-section-id="bxnrwrlkd77"] .lh-heading .lh-subtitle, section[data-section-id="bxnrwrlkd77"]   .lh-heading .lh-text {font-size: 0.9375rem;} section[data-section-id="bxnrwrlkd77"] .lh-button .lh-link-button {font-size: 0.8125rem;padding: 8px 19px;} section[data-section-id="bxnrwrlkd77"] .lh-call-to-action {padding: 85px 0px;}} section[data-section-id="bxnrwrlkd77"]  {background: transparent url('https://cdn.shopify.com/s/files/1/0286/6508/6083/t/2/assets/tesimonial2.jpg?v=1581935012') 0% 0%/cover no-repeat scroll}.lh-container {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
@media (min-width:576px) {
    .lh-container {max-width:540px}
}
@media (min-width:768px) {
    .lh-container {max-width:720px}
}
@media (min-width:992px) {
    .lh-container {max-width:960px}
}
@media (min-width:1200px) {
    .lh-container {max-width:1200px}
}
.lh-container-fluid {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
.lh-row {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
}
.lh-col-md-1,
.lh-col-md-2,
.lh-col-md-3,
.lh-col-md-4,
.lh-col-md-5,
.lh-col-md-6,
.lh-col-md-7,
.lh-col-md-8,
.lh-col-md-9,
.lh-col-md-10,
.lh-col-md-11,
.lh-col-md-12 {
    position:relative;
    width:100%;
    padding-right:15px;
    padding-left:15px;
    box-sizing:border-box;
}
.lh-col-md-1 {
    -ms-flex:0 0 8.333333%;
    flex:0 0 8.333333%;
    max-width:8.333333%;
}
.lh-col-md-2 {
    -ms-flex:0 0 16.666667%;
    flex:0 0 16.666667%;
    max-width:16.666667%;
}
.lh-col-md-3 {
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%;
}
.lh-col-md-4 {
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%;
}
.lh-col-md-5 {
    -ms-flex:0 0 41.666667%;
    flex:0 0 41.666667%;
    max-width:41.666667%;
}
.lh-col-md-6 {
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
}
.lh-col-md-7 {
    -ms-flex:0 0 58.333333%;
    flex:0 0 58.333333%;
    max-width:58.333333%;
}
.lh-col-md-8 {
    -ms-flex:0 0 66.666667%;
    flex:0 0 66.666667%;
    max-width:66.666667%;
}
.lh-col-md-9 {
    -ms-flex:0 0 75%;
    flex:0 0 75%;
    max-width:75%;
}
.lh-col-md-10 {
    -ms-flex:0 0 83.333333%;
    flex:0 0 83.333333%;
    max-width:83.333333%;
}
.lh-col-md-11 {
    -ms-flex:0 0 91.666667%;
    flex:0 0 91.666667%;
    max-width:91.666667%;
}
.lh-col-md-12 {
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%;
}
html {
    box-sizing: border-box;
}
body {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    font-size: 16px;
    color: #4f5362;
}
*, *:before, *:after {
    box-sizing: inherit;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    color: #4f5362;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
    border: 0;
} section[data-section-id="peVKDuFUhE"]  .lh-collections {padding: 30px 0px 60px;} section[data-section-id="peVKDuFUhE"] .lh-heading-title {text-align: center;margin-bottom: 60px;display: flex;justify-content: center;align-items: center;flex-wrap: wrap;} section[data-section-id="peVKDuFUhE"] .lh-heading-title .lh-title, section[data-section-id="peVKDuFUhE"]   .lh-heading-title .lh-btn {font-size: 1rem;font-weight: 500;line-height: normal;color: rgb(26, 26, 26);margin-bottom: 0px;text-transform: uppercase;} section[data-section-id="peVKDuFUhE"] .lh-heading-title .lh-btn{display: inline-block;position: relative;margin-left: 5px;color: /*start_css_engine%color%*/#14C39B/*end_css_engine*/;} section[data-section-id="peVKDuFUhE"] .lh-heading-title .lh-btn::after{content: "";position: absolute;left: 0px;width: 0px;height: 2px;bottom: 0px;background: /*start_css_engine%color%*/#14C39B/*end_css_engine*/;transition: all 0.35s ease 0s;} section[data-section-id="peVKDuFUhE"] .lh-heading-title .lh-btn:hover::after {width: 100%;} section[data-section-id="peVKDuFUhE"] .lh-item-content {display: flex;} section[data-section-id="peVKDuFUhE"] .lh-item-content.lh-1 {flex-direction: column;} section[data-section-id="peVKDuFUhE"] .lh-item-content.lh-2 {flex-direction: column-reverse;} section[data-section-id="peVKDuFUhE"] .lh-item-content .lh-item-info {position: relative;padding: 30px 0px 12px 72px;z-index: 0;transition: all 0.35s ease 0s;} section[data-section-id="peVKDuFUhE"] .lh-item-content .lh-item-info::before {content: "";position: absolute;height: 200px;width: 2px;bottom: 0px;left: 40px;background: rgb(17, 17, 17);} section[data-section-id="peVKDuFUhE"] .lh-item-content .lh-item-info .lh-title{font-size: 2.25rem;font-weight: 600;line-height: normal;color: /*start_css_engine%color%*/#14C39B/*end_css_engine*/;} section[data-section-id="peVKDuFUhE"] .lh-item-content .lh-item-info .lh-desc {font-size: 1rem;font-weight: normal;line-height: normal;color: rgb(26, 26, 26);margin-top: 6px;}@media (min-width: 1200px) { section[data-section-id="peVKDuFUhE"] .lh-collections .lh-row {margin-left: -30px;margin-right: -30px;} section[data-section-id="peVKDuFUhE"] .lh-collections .lh-item {padding-left: 30px;padding-right: 30px;} section[data-section-id="peVKDuFUhE"] .lh-item-content.lh-2 .lh-item-info .lh-title {font-size: 3rem;}}@media (min-width: 768px) { section[data-section-id="peVKDuFUhE"] .lh-item-content.lh-2 .lh-item-info {padding: 35px 0px 35px 72px;} section[data-section-id="peVKDuFUhE"] .lh-item-content.lh-2 .lh-item-info::before {top: 30px;}}@media (max-width: 767px) { section[data-section-id="peVKDuFUhE"] .lh-item {flex: 0 0 100%;max-width: 100%;margin-bottom: 30px;} section[data-section-id="peVKDuFUhE"] .lh-collections {padding: 30px 0;} section[data-section-id="peVKDuFUhE"] .lh-heading-title .lh-desc br {display: none;} section[data-section-id="peVKDuFUhE"] .lh-item-content {flex-direction: column !important;} section[data-section-id="peVKDuFUhE"] .lh-item-content .lh-item-info {    padding: 12px 0px 12px 30px;} section[data-section-id="peVKDuFUhE"] .lh-item-content .lh-item-info::before {left: 10px;}} section[data-section-id="peVKDuFUhE"]  {background: #fff} section[data-section-id="kzUYvM7FgL"]  .lh-call-to-action {height: 680px;margin-bottom: 60px;} section[data-section-id="kzUYvM7FgL"] .lh-content {display: flex;align-items: center;} section[data-section-id="kzUYvM7FgL"] .lh-item {padding-top: 50px;} section[data-section-id="kzUYvM7FgL"] .lh-content-heading {padding-bottom: 65px;padding-left: 10%;} section[data-section-id="kzUYvM7FgL"] .lh-heading .lh-title {position: relative;font-size: 3rem;font-weight: 500;line-height: 1.21;text-transform: none;color: rgb(26, 26, 26);margin-bottom: 10px;} section[data-section-id="kzUYvM7FgL"] .lh-heading .lh-title::before {content: "";position: absolute;width: 70px;height: 4px;background: rgb(17, 17, 17);left: 0px;top: -43px;} section[data-section-id="kzUYvM7FgL"] .lh-heading .lh-desc {font-size: 1.125rem;font-weight: normal;color: rgb(26, 26, 26);margin-bottom: 32px;} section[data-section-id="kzUYvM7FgL"] .lh-btn .lh-link-btn{display: flex;align-items: center;justify-content: center;max-width: 170px;font-size: 0.9375rem;font-weight: 500;line-height: 23px;padding: 10px 0px;text-transform: unset;color: rgb(255, 255, 255);background: /*start_css_engine%color%*/#14C39B/*end_css_engine*/;transition: all 0.35s ease 0s;} section[data-section-id="kzUYvM7FgL"] .lh-btn .lh-link-btn svg {width: 15px;margin-left: 10px;transform: translateX(0px);fill: rgb(255, 255, 255);transition: all 0.35s ease 0s;} section[data-section-id="kzUYvM7FgL"] .lh-btn .lh-link-btn:hover svg {transform: translateX(5px);}@media (max-width: 991px) { section[data-section-id="kzUYvM7FgL"] .lh-heading .lh-title {font-size: 2.5rem;line-height: 1.2;} section[data-section-id="kzUYvM7FgL"] .lh-call-to-action {height: 500px;} section[data-section-id="kzUYvM7FgL"] .lh-content-heading {padding: 50px 0px 0px;} section[data-section-id="kzUYvM7FgL"] .lh-heading .lh-title::before {top: -30px;}}@media (max-width: 767px) { section[data-section-id="kzUYvM7FgL"] .lh-heading .lh-title {font-size: 2rem;} section[data-section-id="kzUYvM7FgL"] .lh-heading .lh-title br {display: none;} section[data-section-id="kzUYvM7FgL"] .lh-heading .lh-desc {font-size: 1rem;} section[data-section-id="kzUYvM7FgL"] .lh-btn .lh-link-btn {width: 150px;} section[data-section-id="kzUYvM7FgL"] .lh-item {padding-top: 0px;} section[data-section-id="kzUYvM7FgL"] .lh-img {display: flex;align-items: center;height: 100%;} section[data-section-id="kzUYvM7FgL"] .lh-heading .lh-title::before {top: -20px;height: 2px;} section[data-section-id="kzUYvM7FgL"] .lh-call-to-action {height: 400px;}} section[data-section-id="kzUYvM7FgL"]  {background: transparent url('../assets/img-bg.png') center center/cover no-repeat scroll}/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url('../assets/owl.video.play.png') no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }
 section[data-section-id="oS5yxw0RGL"]  .owl-carousel div.owl-item img {width: 100% !important;display: block !important;} section[data-section-id="oS5yxw0RGL"] .owl-carousel .owl-stage {display: flex;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram {padding-top: 60px;border-top: 1px solid rgb(238, 238, 238);} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .lh-wild_instagram-wrapper {position: relative;width: 100%;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .lh-wild_instagram-wrapper .lh-link_instagram {position: absolute;display: flex;flex-direction: column;justify-content: center;left: 0px;top: 50%;width: 25%;height: calc(100% + 1px);transform: translateY(-50%);background-color: rgb(255, 255, 255);z-index: 2;transition: all 0.3s ease 0s;} section[data-section-id="oS5yxw0RGL"] .custom_block .lh-icon-ins svg{width: 32px;fill: /*start_css_engine%color%*/#14C39B/*end_css_engine*/;margin-bottom: 20px;line-height: 40px;} section[data-section-id="oS5yxw0RGL"] .custom_block .lh-custom-block-name {font-size: 1rem;font-weight: normal;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color: rgb(90, 90, 90);text-transform: lowercase;} section[data-section-id="oS5yxw0RGL"] .custom_block .lh-custom-block-title {font-size: 1.5rem;line-height: 1.42;font-weight: 500;letter-spacing: normal;color: rgb(17, 17, 17);margin-bottom: 8px;text-transform: lowercase;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .lh-insta-carousel {width: 100%;margin: 0px auto;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .lh-insta-carousel a {position: relative;display: block;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .items-slider {position: relative;overflow: hidden;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .items-slider img {width: 100%;transition: all 0.35s ease 0s;transform: scale(1);} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .items-slider:hover img {transform: scale(1.1);} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .items-slider.items-video {position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .items-slider.items-video video {width: 100%;height: 100%;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .items-slider .lh-info {position: absolute;z-index: 1;bottom: 10px;left: 10px;right: 10px;text-align: center;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .items-slider .lh-info h6 {color: rgb(255, 255, 255);font-size: 1rem;margin: 0px;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .items-slider .lh-info h6 span:first-child {margin-right: 10px;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .items-slider .lh-info h6 span svg {margin-right: 5px;} section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .items-slider .lh-info svg {width: 15px;fill: rgb(255, 255, 255);}@media (max-width: 991px) { section[data-section-id="oS5yxw0RGL"] .custom_block .lh-custom-block-title {font-size: 1rem;} section[data-section-id="oS5yxw0RGL"] .custom_block .lh-icon-ins svg {margin-bottom: 10px;} section[data-section-id="oS5yxw0RGL"] .custom_block .lh-custom-block-name {font-size: 0.875rem;}}@media (max-width: 767px) { section[data-section-id="oS5yxw0RGL"] .lh-wild_instagram .lh-wild_instagram-wrapper .lh-link_instagram {width: 50%;} section[data-section-id="oS5yxw0RGL"] .custom_block .lh-icon-ins svg {width: 25px;}} section[data-section-id="oS5yxw0RGL"]  {background: dd3333}