/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.eTVcMH { word-break: break-word; }
.eTVcMH span { font-weight: inherit; text-decoration: inherit; }
.eTVcMH i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
.fABBSI { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.fABBSI i { margin-right: 0.3em; }
.fABBSI:hover, .fABBSI:active, .fABBSI:focus, .fABBSI span { color: inherit; text-decoration: none; }
.bzjhPd { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.bzjhPd .sc-eitiEO { position: relative; display: flex; flex: 1 1 auto; }
.bzjhPd.pf-show-arrow .sc-nrwXf { opacity: 1; }
.bzjhPd.pf-show-arrow .sc-nrwXf.prev-arrow { left: 16px; }
.bzjhPd.pf-show-arrow .sc-nrwXf.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .bzjhPd .sc-AnqlK { display: none; }
}
@media (min-width: 1200px) {
  .bzjhPd .sc-AnqlK { display: none; }
}
@media (min-width: 992px) {
  .hLGuQN .sc-nrwXf { display: none; }
}
.hLGuQN .sc-nrwXf { transition: all 0.3s ease 0s; opacity: 1; }
.hLGuQN .sc-nrwXf.prev-arrow { left: 16px; top: calc(50% - 16px); }
.hLGuQN .sc-nrwXf.next-arrow { right: 16px; top: calc(50% - 16px); }
.hLGuQN .sc-nrwXf i.fa { color: rgb(93, 107, 130); transform: none; }
.hLGuQN .sc-nrwXf { transition: all 0.3s ease 0s; opacity: 0; }
.hLGuQN .sc-nrwXf.prev-arrow { left: -100%; top: calc(50% - 16px); }
.hLGuQN .sc-nrwXf.next-arrow { right: -100%; top: calc(50% - 16px); }
.hLGuQN .sc-nrwXf i.fa { transform: none; }
.hLGuQN:hover .sc-nrwXf { opacity: 1; }
.hLGuQN:hover .sc-nrwXf.prev-arrow { left: 16px; }
.hLGuQN:hover .sc-nrwXf.next-arrow { right: 16px; }
.iEeNKD { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.iEeNKD.prev-arrow { left: 16px; top: calc(50% - 16px); }
.iEeNKD.next-arrow { right: 16px; top: calc(50% - 16px); }
.iEeNKD i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.iEeNKD.pf-show-nav { opacity: 1; }
.jTqelV { position: relative; vertical-align: middle; width: 100%; height: 450px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jTqelV { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jTqelV { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .jTqelV { display: var(--pf-d-xs); }
}
.jTqelV img { border-radius: 4px; width: 100%; }
.jTqelV a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .jTqelV { margin: 0px; }
}
.iMvqEA { position: relative; vertical-align: middle; width: 100%; height: 200px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iMvqEA { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iMvqEA { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .iMvqEA { display: var(--pf-d-xs); }
}
.iMvqEA img { border-radius: 4px; width: 100%; }
.iMvqEA a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .iMvqEA { margin: 0px; }
}
.kjUmCg { position: relative; display: flex; margin-top: 10px; }
.kjUmCg .icon-left { transform: rotate(180deg); }
.kjUmCg .icon-right { right: 0px; }
.kjUmCg .icon-left:hover, .kjUmCg .icon-right:hover { opacity: 0.5; }
.kjUmCg .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.kjUmCg .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 50px; }
.kjUmCg .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.kjUmCg .pf-p-image-small-container .pf-small-img-roll .sc-cpHetk { height: 0px; float: left; }
.kjUmCg .pf-p-image-small-container .pf-small-img-roll .sc-cpHetk img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.kjUmCg .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .kjUmCg { display: none; }
}
.igZhSP { position: relative; }
.klsZJO { display: inline-flex; }
.klsZJO .pf-countdown__inner { display: flex; text-align: center; }
.klsZJO .pf-countdown__inner > div { display: flex; flex-direction: column; }
.dilOGW[data-pf-type="ProductText"].no-product { text-decoration: none; }
.fgPtko[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gwjYaA { position: relative; border: 1px solid rgba(34, 36, 38, 0.15); background: rgb(255, 255, 255); }
.gwjYaA th span, .gwjYaA td span { display: inline-block; }
.gwjYaA.gwjYaA table { width: 100%; max-width: 100%; background: inherit; margin: 0px; box-shadow: none; text-align: left; color: rgba(0, 0, 0, 0.87); border-collapse: separate; border-spacing: 0px; font-family: inherit; }
.gwjYaA table:first-child { margin-top: 0px; }
.gwjYaA table:last-child { margin-bottom: 0px; }
.gwjYaA th, .gwjYaA td { transition: background 0.1s ease 0s, color 0.1s ease 0s; }
.gwjYaA th { cursor: auto; background: rgb(249, 250, 251); text-align: inherit; padding: 10px 15px; vertical-align: inherit; font-weight: bold; min-width: 50px; border: none; font-family: inherit; }
.gwjYaA tr td { border-top: 1px solid rgba(34, 36, 38, 0.1); border-left: none; border-right: none; border-bottom: none; min-width: 50px; }
.gwjYaA tr:first-child td { border-top: none; }
.gwjYaA td { padding: 10px 15px; text-align: inherit; }
.gwjYaA.pagefly__table--striped > tr:nth-child(2n+1), .gwjYaA.pagefly__table--striped tbody tr:nth-child(2n+1) { background-color: rgba(0, 0, 50, 0.02); }
.gwjYaA.pagefly__table--basic { background: transparent; border: 1px solid rgba(34, 36, 38, 0.15); box-shadow: none; }
.gwjYaA.pagefly__table--basic thead, .gwjYaA.pagefly__table--basic tfoot { box-shadow: none; }
.gwjYaA.pagefly__table--basic th { background: transparent; border-left: none; }
.gwjYaA.pagefly__table--basic tbody tr { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.gwjYaA.pagefly__table--basic td { background: transparent; }
.gwjYaA.pagefly__table--basic.striped tbody tr:nth-child(2n) { background-color: rgba(0, 0, 0, 0.05); }
.gwjYaA.pagefly__table--basic { border: none; }
.gwjYaA.pagefly__table--bordered tr th, .gwjYaA.pagefly__table--bordered tr td { border-left: 1px solid rgba(34, 36, 38, 0.1); }
.gwjYaA.pagefly__table--bordered tr th:first-child, .gwjYaA.pagefly__table--bordered tr td:first-child { border-left: none; }
.gwjYaA.pagefly__table--hover tr:hover { background: rgba(0, 0, 0, 0.05); color: rgba(0, 0, 0, 0.95); }
.kDvBhz { display: inline-flex; }
.kDvBhz input { width: 60px; height: 40px; outline: none; text-align: center; padding: 0px; border: 1px solid rgb(209, 213, 219); border-radius: 4px; }
.kDvBhz input[data-hidespinner="true"] { }
.kDvBhz input[data-hidespinner="true"]::-webkit-outer-spin-button, .kDvBhz input[data-hidespinner="true"]::-webkit-inner-spin-button { -webkit-appearance: none; }
.kDvBhz input:not(:first-child) { margin: 0px 4px; }
.kDvBhz button { width: 40px; height: 40px; outline: none; border: inherit; border-radius: inherit; padding: 0px; }
.kDvBhz button[data-quantity-disabled="true"] { opacity: 0.2; }
.kDvBhz .js-qty { margin: 0px 4px; height: 40px; }
.kDvBhz .js-qty button { display: none; }
.hOFaaf { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }
.hOFaaf[disabled] { opacity: 0.7; }
.hOFaaf.is-loading, .hOFaaf.is-added { pointer-events: none; }
.hOFaaf > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.hOFaaf.pf-i--left i { margin-right: 0.3em; }
.hOFaaf + .sc-jkCMRl, .hOFaaf.pf-i--right i { margin-left: 0.3em; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.jMPzSu { margin: 0px; padding: 10px; }
.fGSPbe { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.fGSPbe:last-child { margin: 0px; }
.fGSPbe::before { content: ""; display: inline-block; width: var(--text-indent); }
.fGSPbe > i { padding: 5px; margin-right: 5px; }
.fGSPbe > span { display: inline; }
.gpALgc { font-family: FontAwesome !important; }
.bRaoUe { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bRaoUe { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bRaoUe { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bRaoUe { grid-gap: var(--pf-s-xs); }
}
.bRaoUe.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bRaoUe.pf-loading > div:not(:last-child) { opacity: 0.6; }
@-webkit-keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.kTjSwg { visibility: hidden; }
.kTjSwg.pf-slider-wrapper { overflow: hidden; position: relative; }
.kTjSwg.pf-slider-wrapper:hover .nav-style-2, .kTjSwg.pf-slider-wrapper:hover .nav-style-4 { opacity: 1; }
.kTjSwg.pf-slider-wrapper:hover .nav-style-2.pf-prev-nav, .kTjSwg.pf-slider-wrapper:hover .nav-style-4.pf-prev-nav { left: 20px; }
.kTjSwg.pf-slider-wrapper:hover .nav-style-2.pf-next-nav, .kTjSwg.pf-slider-wrapper:hover .nav-style-4.pf-next-nav { right: 20px; }
.kTjSwg.pf-slider-wrapper:hover .nav-style-3 { opacity: 1; }
.kTjSwg.pf-slider-wrapper:hover .nav-style-3.pf-prev-nav { left: 0px; }
.kTjSwg.pf-slider-wrapper:hover .nav-style-3.pf-next-nav { right: 0px; }
.kTjSwg.pf-slider-mouse-event-off > * { pointer-events: none; }
.kTjSwg .pf-slider-inner { overflow: hidden; }
.kTjSwg .pf-slider-slide { will-change: contents; position: absolute; transform: translate3d(100%, 0px, 0px); overflow: hidden; top: 0px; }
.kTjSwg .pf-slider-nav { position: absolute; z-index: 999; cursor: pointer; border: 0px; background: transparent; top: 50%; transform: translateY(-50%); padding: 0px; transition: all 0.3s ease 0s; }
.kTjSwg .pf-slider-nav:focus { outline: 0px; }
.kTjSwg .pf-slider-nav::before { font-size: 14px; color: rgb(255, 255, 255); font-family: FontAwesome; }
.kTjSwg .pf-slider-nav.nav-style-1 { width: 40px; height: 40px; line-height: 40px; -webkit-box-pack: center; justify-content: center; background: rgba(0, 0, 0, 0.4); border-radius: 100%; }
.kTjSwg .pf-slider-nav.nav-style-1:hover { background: rgb(0, 0, 0); }
.kTjSwg .pf-slider-nav.nav-style-1.pf-prev-nav { left: 20px; }
.kTjSwg .pf-slider-nav.nav-style-1.pf-next-nav { right: 20px; }
.kTjSwg .pf-slider-nav.nav-style-2, .kTjSwg .pf-slider-nav.nav-style-4, .kTjSwg .pf-slider-nav.nav-style-5 { width: 40px; height: 40px; line-height: 40px; -webkit-box-pack: center; justify-content: center; background: rgb(3, 3, 3); border-radius: 3px; opacity: 0; }
.kTjSwg .pf-slider-nav.nav-style-2:hover, .kTjSwg .pf-slider-nav.nav-style-4:hover, .kTjSwg .pf-slider-nav.nav-style-5:hover { background: rgb(23, 23, 23); }
.kTjSwg .pf-slider-nav.nav-style-2.pf-prev-nav, .kTjSwg .pf-slider-nav.nav-style-4.pf-prev-nav, .kTjSwg .pf-slider-nav.nav-style-5.pf-prev-nav { left: 40px; }
.kTjSwg .pf-slider-nav.nav-style-2.pf-next-nav, .kTjSwg .pf-slider-nav.nav-style-4.pf-next-nav, .kTjSwg .pf-slider-nav.nav-style-5.pf-next-nav { right: 40px; }
.kTjSwg .pf-slider-nav.nav-style-3 { padding: 20px; text-shadow: rgb(0, 0, 0) 0px 0px 1px; opacity: 0; }
.kTjSwg .pf-slider-nav.nav-style-3::before { font-size: 24px; }
.kTjSwg .pf-slider-nav.nav-style-3.pf-prev-nav { left: 40px; }
.kTjSwg .pf-slider-nav.nav-style-3.pf-next-nav { right: 40px; }
.kTjSwg .pf-slider-nav.nav-style-5 { top: auto; bottom: 5%; opacity: 1; }
.kTjSwg .pf-slider-nav.nav-style-5.pf-prev-nav { right: 62px; border-radius: 3px 0px 0px 3px; }
.kTjSwg .pf-slider-nav.nav-style-5.pf-next-nav { right: 20px; border-radius: 0px 3px 3px 0px; }
.kTjSwg .pf-slider-nav-disabled { pointer-events: none; }
.kTjSwg .pf-slider-pagination { position: absolute; bottom: 15px; left: 0px; width: 100%; padding: 0px; margin: 0px; text-align: center; z-index: 1; }
.kTjSwg .pf-slider-pagination li { display: inline-block; margin: 0px 5px; background: rgb(187, 187, 187); opacity: 1; transition: all 0.3s ease 0s; cursor: pointer; }
.kTjSwg .pf-slider-pagination li.active, .kTjSwg .pf-slider-pagination li:hover { background: rgb(33, 33, 33); }
.kTjSwg .pf-slider-pagination.pagination-style-1 li { width: 20px; height: 5px; }
.kTjSwg .pf-slider-pagination.pagination-style-2 li { position: relative; width: 8px; height: 8px; background: transparent; }
.kTjSwg .pf-slider-pagination.pagination-style-2 li::after { position: absolute; content: ""; left: -2px; top: -2px; width: 12px; height: 12px; border: 1px solid rgb(33, 33, 33); border-radius: 50%; }
.kTjSwg .pf-slider-pagination.pagination-style-2 li.active { background: rgb(33, 33, 33); border-radius: 50%; }
.kTjSwg .pf-slider-pagination.pagination-style-3 li { position: relative; width: 16px; height: 16px; border: 2px solid rgb(255, 255, 255); background: transparent; border-radius: 50%; }
.kTjSwg .pf-slider-pagination.pagination-style-3 li.active::after { position: absolute; content: ""; top: 3px; left: 3px; right: 3px; bottom: 3px; width: 6px; border: 2px solid rgb(255, 255, 255); border-radius: 100%; }
.hffnmG.pfs--topLeft { display: flex; align-items: flex-start; -webkit-box-pack: start; justify-content: flex-start; }
.hffnmG.pfs--topCenter { display: flex; align-items: flex-start; -webkit-box-pack: center; justify-content: center; }
.hffnmG.pfs--topRight { display: flex; align-items: flex-start; -webkit-box-pack: end; justify-content: flex-end; }
.hffnmG.pfs--middleLeft { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: start; justify-content: flex-start; }
.hffnmG.pfs--center { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }
.hffnmG.pfs--middleRight { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: end; justify-content: flex-end; }
.hffnmG.pfs--bottomLeft { display: flex; align-items: flex-end; -webkit-box-pack: start; justify-content: flex-start; }
.hffnmG.pfs--bottomCenter { display: flex; align-items: flex-end; -webkit-box-pack: center; justify-content: center; }
.hffnmG.pfs--bottomRight { display: flex; align-items: flex-end; -webkit-box-pack: end; justify-content: flex-end; }
.lmlvvF { padding-top: 20px; padding-bottom: 20px; }
.lmlvvF__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.lmlvvF__button > i { margin-right: 5px; }
.lmlvvF .icon_position { position: absolute; right: 10px; }
.lmlvvF .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.beTStm { padding: 0px !important; }
.htCBsJ { cursor: pointer; padding: 10px 15px; text-decoration: none; color: black; text-align: left; outline: none; display: block; position: relative; }
.htCBsJ > svg { margin-right: 5px; }
.htCBsJ > i { margin-right: 5px; }
.htCBsJ div { padding: 1.5rem 0px; }
.htCBsJ .accordion__arrow { transition: all 0.2s ease 0s; }
.htCBsJ[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.fLbhbT { clear: both; }
.fLbhbT[data-parallax="true"] { position: relative; }
.fLbhbT__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.fLbhbT { box-sizing: border-box; position: relative; overflow: hidden; }
.fLbhbT[data-container] .sc-jtggT { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.fLbhbT[data-parallax="true"] { background: none !important; }
.fLbhbT .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.kxfycB { grid-gap: var(--pf-s-lg); display: grid; }
@media (max-width: 1199px) and (min-width: 992px) {
  .kxfycB { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .kxfycB { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .kxfycB { grid-gap: var(--pf-s-xs); }
}
.kxfycB a { display: block; }
.kxfycB img { height: auto; width: 100%; }
.kxfycB .pf-c { }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-51b64bf5 {
		color: rgb(255, 255, 255);
		 font-family: Teko;
		 font-size: 70px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-b57119b7 {
		color: rgb(229, 229, 229);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 40px;
	}
	.__pf .pf-c65b13ce {
		background-color: rgb(104, 188, 84);
		 color: rgb(255, 255, 255);
		 font-family: Teko;
		 font-size: 15px;
		 font-weight: 600;
		 padding-left: 32px;
		 padding-right: 32px;
	}
	.__pf .pf-c65b13ce:hover {
		background-color: rgb(90, 170, 71);
	}
	.__pf .pf-a405a1ac {
		text-align: center;
	}
	.__pf .pf-845930d4 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-0235658c-1844-4521-ab39-532508b89033--Gym-product-01.jpg?v=1577931534");
		 padding-top: 175px;
		 padding-bottom: 175px;
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-49484def {
		padding-top: 85px;
		 padding-bottom: 85px;
	}
	.__pf .pf-7ccbaaf8 {
		font-family: Teko;
		 font-size: 50px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1em;
	}
	.__pf .pf-5fd91a74 {
		color: rgb(104, 188, 84);
		 font-size: 2px;
		 padding-right: 380px;
		 margin-bottom: 10px;
	}
	.__pf .pf-5fd91a74 div {
		font-size: 5px;
	}
	.__pf .pf-4b900bfc {
		color: rgb(104, 188, 84);
	}
	.__pf .pf-fed11384 {
		color: rgb(34, 34, 34);
		 font-family: Teko;
		 font-size: 20px;
	}
	.__pf .pf-2dbb6227 {
		color: rgb(104, 188, 84);
	}
	.__pf .pf-d136a45b {
		color: rgb(34, 34, 34);
		 font-family: Teko;
		 font-size: 20px;
	}
	.__pf .pf-64183124 {
		color: rgb(104, 188, 84);
	}
	.__pf .pf-021a7add {
		color: rgb(34, 34, 34);
		 font-family: Teko;
		 font-size: 20px;
	}
	.__pf .pf-1020f952 {
		color: rgb(104, 188, 84);
	}
	.__pf .pf-29444ba0 {
		color: rgb(34, 34, 34);
		 font-family: Teko;
		 font-size: 20px;
	}
	.__pf .pf-8a074663 {
		list-style-position: inside;
		 list-style-type: none;
		 padding: 0px;
	}
	.__pf .pf-fbfa12e8 {
		background-color: rgb(255, 255, 255);
		 padding: 60px;
		 margin-left: -120px;
	}
	.__pf .pf-3da949fe {
		display: flex;
		 align-items: center;
		 margin-bottom: 90px;
	}
	.__pf .pf-6073d5c0 {
		font-family: Teko;
		 font-size: 50px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1em;
	}
	.__pf .pf-962a8f16 {
		color: rgb(104, 188, 84);
		 font-size: 2px;
		 padding-right: 380px;
		 margin-bottom: 10px;
	}
	.__pf .pf-962a8f16 div {
		font-size: 5px;
	}
	.__pf .pf-b1b95827 {
		color: rgb(136, 136, 136);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-e516cf05 {
		background-color: rgb(104, 188, 84);
		 color: rgb(255, 255, 255);
		 font-family: Teko;
		 font-size: 15px;
		 font-weight: 600;
		 padding-left: 32px;
		 padding-right: 32px;
	}
	.__pf .pf-e516cf05:hover {
		background-color: rgb(90, 170, 71);
	}
	.__pf .pf-2c5c2696 {
		background-color: rgb(255, 255, 255);
		 padding: 60px;
		 margin-right: -120px;
	}
	.__pf .pf-5688966c {
		display: flex;
		 align-items: center;
		 flex-direction: row-reverse;
	}
	.__pf .pf-3fea797b {
		background-color: rgb(248, 248, 248);
		 padding-top: 85px;
		 padding-bottom: 85px;
	}
	.__pf .pf-b77e49a9 {
		font-size: 80px;
		 color: rgb(104, 188, 84);
	}
	.__pf .pf-3566ee54 {
		text-align: center;
	}
	.__pf .pf-291cfcc4 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-faeae848-c7d9-49b9-a96c-6e607dd4806c--Gym-product-04.png?v=1577933209");
		 padding-top: 220px;
		 padding-bottom: 220px;
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-61ee8984 {
		font-family: Teko;
		 font-size: 50px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1em;
	}
	.__pf .pf-b6ac346d {
		color: rgb(104, 188, 84);
		 font-size: 2px;
		 padding-right: 520px;
		 margin-bottom: 10px;
		 padding-left: 520px;
	}
	.__pf .pf-b6ac346d div {
		font-size: 5px;
	}
	.__pf .pf-9530cae3 {
		margin-bottom: 25px;
	}
	.__pf .pf-8018862a {
		text-align: center;
	}
	.__pf .pf-a8cdbd16 {
		margin-bottom: 20px;
		 width: 80px;
		 height: auto;
	}
	.__pf .pf-1052957b {
		font-family: Teko;
		 font-size: 28px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 line-height: 1em;
	}
	.__pf .pf-c413de77 {
		color: rgb(136, 136, 136);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-4d3efc14 {
		margin-bottom: 20px;
		 width: 80px;
		 height: auto;
	}
	.__pf .pf-6580f7b2 {
		font-family: Teko;
		 font-size: 28px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 line-height: 1em;
	}
	.__pf .pf-20eb9488 {
		color: rgb(136, 136, 136);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-76bdd95d {
		margin-bottom: 20px;
		 width: 80px;
		 height: auto;
	}
	.__pf .pf-8eb6affa {
		font-family: Teko;
		 font-size: 28px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 line-height: 1em;
	}
	.__pf .pf-46a165ba {
		color: rgb(136, 136, 136);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-f1fb0cbe {
		padding-top: 85px;
		 padding-bottom: 85px;
	}
	.__pf .pf-bcc95aab {
		font-family: Teko;
		 font-size: 50px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1em;
	}
	.__pf .pf-5100c237 {
		color: rgb(104, 188, 84);
		 font-size: 2px;
		 padding-right: 520px;
		 margin-bottom: 60px;
		 padding-left: 520px;
	}
	.__pf .pf-5100c237 div {
		font-size: 5px;
	}
	.__pf .pf-a4c2e1bf {
		text-align: center;
	}
	.__pf .pf-a5c9661d {
		border-style: solid;
		 border-color: rgb(235, 235, 235);
		 border-width: 1px 0px 0px;
		 padding-top: 85px;
		 padding-bottom: 85px;
	}
	.__pf .pf-dcd01936 {
		font-size: 28px;
		 color: rgb(104, 188, 84);
		 margin-bottom: 25px;
	}
	.__pf .pf-d4d40488 {
		color: rgb(229, 229, 229);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 30px;
	}
	.__pf .pf-9e7b29e0 {
		margin-bottom: 20px;
		 width: 80px;
		 height: auto;
	}
	.__pf .pf-7421aeab {
		font-family: Teko;
		 font-size: 20px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 line-height: 1em;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-5aa92e50 {
		margin: 85px 320px;
	}
	.__pf .pf-81218226 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-6b81c6a8 {
		font-size: 28px;
		 color: rgb(104, 188, 84);
		 margin-bottom: 25px;
	}
	.__pf .pf-455259b3 {
		color: rgb(229, 229, 229);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 30px;
	}
	.__pf .pf-299ce42d {
		margin-bottom: 20px;
		 width: 80px;
		 height: auto;
	}
	.__pf .pf-5776ce3e {
		font-family: Teko;
		 font-size: 20px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 line-height: 1em;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-a688f596 {
		margin: 85px 320px;
	}
	.__pf .pf-225b1ee7 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-9b948c15 {
		font-size: 28px;
		 color: rgb(104, 188, 84);
		 margin-bottom: 25px;
	}
	.__pf .pf-f7f3f6dd {
		color: rgb(229, 229, 229);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 30px;
	}
	.__pf .pf-7b6e5e86 {
		margin-bottom: 20px;
		 width: 80px;
		 height: auto;
	}
	.__pf .pf-82b79690 {
		font-family: Teko;
		 font-size: 20px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 line-height: 1em;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-ec6acf14 {
		margin: 85px 320px;
	}
	.__pf .pf-60ad1df0 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-44de0598 {
		height: 500px;
		 text-align: center;
	}
	.__pf .pf-8f73822a {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-8d150cad-8b50-4dd2-8dfd-b5fd21b4f062--Gym-product-09.png?v=1577935218");
		 background-size: cover;
	}
	.__pf .pf-ae8160ec {
		font-family: Teko;
		 font-size: 50px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1em;
	}
	.__pf .pf-d1a0c0e2 {
		color: rgb(104, 188, 84);
		 font-size: 2px;
		 margin-bottom: 45px;
		 padding-right: 500px;
	}
	.__pf .pf-d1a0c0e2 div {
		font-size: 5px;
	}
	.__pf .pf-fa67ef4d {
		font-weight: 600;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 padding: 15px;
		 color: rgb(119, 119, 119);
		 background: rgb(248, 248, 248);
		 font-family: Teko;
		 font-size: 18px;
		 margin-bottom: 10px;
	}
	.__pf .pf-fa67ef4d[data-active="true"] {
		background-color: rgb(104, 188, 84);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-86b7116c {
		color: rgb(136, 136, 136);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-bottom: 25px;
		 margin-top: 10px;
	}
	.__pf .pf-1206184e {
		font-weight: 600;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 padding: 15px;
		 color: rgb(119, 119, 119);
		 background: rgb(248, 248, 248);
		 font-family: Teko;
		 font-size: 18px;
		 margin-bottom: 10px;
	}
	.__pf .pf-1206184e[data-active="true"] {
		background-color: rgb(104, 188, 84);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-7d629a60 {
		color: rgb(136, 136, 136);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-bottom: 25px;
		 margin-top: 0px;
	}
	.__pf .pf-8e8e6aba {
		font-weight: 600;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 padding: 15px;
		 color: rgb(119, 119, 119);
		 background: rgb(248, 248, 248);
		 font-family: Teko;
		 font-size: 18px;
		 margin-bottom: 10px;
	}
	.__pf .pf-8e8e6aba[data-active="true"] {
		background-color: rgb(104, 188, 84);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-c6b4e78a {
		color: rgb(136, 136, 136);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-bottom: 25px;
		 margin-top: 0px;
	}
	.__pf .pf-096d6275 {
		font-weight: 600;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 padding: 15px;
		 color: rgb(119, 119, 119);
		 background: rgb(248, 248, 248);
		 font-family: Teko;
		 font-size: 18px;
		 margin-bottom: 10px;
	}
	.__pf .pf-096d6275[data-active="true"] {
		background-color: rgb(104, 188, 84);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-bbf69303 {
		color: rgb(136, 136, 136);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-bottom: 25px;
		 margin-top: 0px;
	}
	.__pf .pf-ce6d30b6 {
		font-weight: 600;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 padding: 15px;
		 color: rgb(119, 119, 119);
		 background: rgb(248, 248, 248);
		 font-family: Teko;
		 font-size: 18px;
		 margin-bottom: 10px;
	}
	.__pf .pf-ce6d30b6[data-active="true"] {
		background-color: rgb(104, 188, 84);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-c62e69f7 {
		color: rgb(136, 136, 136);
		 font-family: Lato;
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 400;
		 margin-bottom: 25px;
		 margin-top: 0px;
	}
	.__pf .pf-eb71fd00 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-a14d81c9 {
		font-family: Teko;
		 font-size: 50px;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1em;
	}
	.__pf .pf-41275b45 {
		color: rgb(104, 188, 84);
		 font-size: 2px;
		 margin-bottom: 45px;
		 padding-right: 500px;
	}
	.__pf .pf-41275b45 div {
		font-size: 5px;
	}
	.__pf .pf-9103f6c6 {
		padding-top: 85px;
		 padding-bottom: 85px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-51b64bf5 {
		font-size: 40px;
	}
	.__pf .pf-845930d4 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-0235658c-1844-4521-ab39-532508b89033--Gym-product-01.jpg?v=1577931534");
		 padding-top: 60px;
		 padding-bottom: 60px;
	}
	.__pf .pf-49484def {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-7ccbaaf8 {
		font-size: 32px;
	}
	.__pf .pf-5fd91a74 {
		padding-right: 210px;
	}
	.__pf .pf-fed11384 {
		font-size: 20px;
	}
	.__pf .pf-fbfa12e8 {
		margin-left: 20px;
		 padding: 20px;
		 margin-top: -50px;
		 margin-right: 20px;
	}
	.__pf .pf-3da949fe {
		margin-bottom: 20px;
	}
	.__pf .pf-6073d5c0 {
		font-size: 32px;
	}
	.__pf .pf-962a8f16 {
		padding-right: 210px;
	}
	.__pf .pf-2c5c2696 {
		margin-left: 20px;
		 padding: 20px;
		 margin-top: -50px;
		 margin-right: 20px;
	}
	.__pf .pf-3fea797b {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-b77e49a9 {
		font-size: 60px;
	}
	.__pf .pf-291cfcc4 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-faeae848-c7d9-49b9-a96c-6e607dd4806c--Gym-product-04.png?v=1577933209");
		 padding-top: 60px;
		 padding-bottom: 60px;
	}
	.__pf .pf-61ee8984 {
		font-size: 32px;
	}
	.__pf .pf-b6ac346d {
		padding-left: 140px;
		 padding-right: 140px;
	}
	.__pf .pf-9530cae3 {
		margin-bottom: 0px;
	}
	.__pf .pf-1052957b {
		font-size: 24px;
	}
	.__pf .pf-6580f7b2 {
		font-size: 24px;
	}
	.__pf .pf-8eb6affa {
		font-size: 24px;
	}
	.__pf .pf-f1fb0cbe {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-bcc95aab {
		font-size: 32px;
	}
	.__pf .pf-5100c237 {
		padding-left: 140px;
		 padding-right: 140px;
		 margin-bottom: 30px;
	}
	.__pf .pf-a5c9661d {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-7421aeab {
		font-size: 24px;
	}
	.__pf .pf-5aa92e50 {
		margin: 40px 20px;
	}
	.__pf .pf-81218226 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-5776ce3e {
		font-size: 24px;
	}
	.__pf .pf-a688f596 {
		margin: 40px 20px;
	}
	.__pf .pf-225b1ee7 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-82b79690 {
		font-size: 24px;
	}
	.__pf .pf-ec6acf14 {
		margin: 40px 20px;
	}
	.__pf .pf-60ad1df0 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-44de0598 {
		height: 450px;
	}
	.__pf .pf-8f73822a {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-8d150cad-8b50-4dd2-8dfd-b5fd21b4f062--Gym-product-09.png?v=1577935218");
	}
	.__pf .pf-ae8160ec {
		font-size: 32px;
	}
	.__pf .pf-d1a0c0e2 {
		padding-right: 300px;
	}
	.__pf .pf-a14d81c9 {
		font-size: 32px;
	}
	.__pf .pf-41275b45 {
		padding-right: 300px;
		 margin-bottom: 10px;
	}
	.__pf .pf-9103f6c6 {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-845930d4 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-0235658c-1844-4521-ab39-532508b89033--Gym-product-01.jpg?v=1577931534");
	}
	.__pf .pf-291cfcc4 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-faeae848-c7d9-49b9-a96c-6e607dd4806c--Gym-product-04.png?v=1577933209");
	}
	.__pf .pf-81218226 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-225b1ee7 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-60ad1df0 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-44de0598 {
		height: 500px;
	}
	.__pf .pf-8f73822a {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-8d150cad-8b50-4dd2-8dfd-b5fd21b4f062--Gym-product-09.png?v=1577935218");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-845930d4 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-0235658c-1844-4521-ab39-532508b89033--Gym-product-01.jpg?v=1577931534");
	}
	.__pf .pf-291cfcc4 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-faeae848-c7d9-49b9-a96c-6e607dd4806c--Gym-product-04.png?v=1577933209");
	}
	.__pf .pf-5aa92e50 {
		margin-left: 100px;
		 margin-right: 100px;
	}
	.__pf .pf-81218226 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-a688f596 {
		margin-left: 100px;
		 margin-right: 100px;
	}
	.__pf .pf-225b1ee7 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-ec6acf14 {
		margin-left: 100px;
		 margin-right: 100px;
	}
	.__pf .pf-60ad1df0 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-44de0598 {
		height: 500px;
	}
	.__pf .pf-8f73822a {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-8d150cad-8b50-4dd2-8dfd-b5fd21b4f062--Gym-product-09.png?v=1577935218");
	}
	.__pf .pf-d1a0c0e2 {
		padding-right: 300px;
	}
	.__pf .pf-41275b45 {
		padding-right: 300px;
	}
}
						

 