<div class="epically-header">
<div class="wrapper">
   <div class="col-md-7">
  <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/ezgif.com-gif-maker_4.png?v=1619154088">
</div>
   <div class="col-md-5">
     <a href="tel:+91-9810505171" class="none">+91-9810505171</a><br>
<a data-auto-recognition="true" class="none" href="mailto:myindia@devdutt.com">myindia@devdutt.com</a>
<a data-testid="linkElement" href="https://positivelyperfect.me/search?type=article%2Cpage%2Cproduct&q=epically*+ramayana*" target="_self" rel="" class="_1_kc0"><span class="_3fUtn">Buy Now</span></a>
</div>
</div>
</div>
<a id="button"></a>


<article class="site-page" data-template-page>

  <div class="row back1">
<div class="article--container">
 <div class="flex"> 
<div class="col-md-7 flex-row">
<div class="wrapper">
<h4>The Great Indian <br>Memory Game </h4>
<p>Improve your child's Memory and Focus while discovering Indian Mythology. Fun and an engaging game your kids can play alone or together as a family.
A chance to spend time away from digital screens. </p>
<div class="bott">
<a href="https://positivelyperfect.me/products/epically-ramayana-memory-matching-game-for-kids-indian-gift-games-base-on-indian-culture-mythology-by-devdutt-pattanaik">Yes! I want Epically for my kids</a>
<a href="https://positivelyperfect.me/collections/my-india-by-devdutt/products/copy-of-epically-ramayana-memory-matching-game-for-kids-indian-gift-games-base-on-indian-culture-mythology-by-devdutt-pattanaik-set-of-3">Yes! I want Epically for gifting</a>
</div>
</div>
</div>

<div class="col-md-5 flex-row">

<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/123_1.png?v=1617620288">
</div>
</div>
  
  
</div>

</div>
  
  <div class="row-second">
    <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/ezgif.com-gif-maker_30.jpg?v=1617618341">
    <h4>Parents favorite,<br> Children Love it.</h4>
    
  </div>
  
    
  
  
  <div class="row-slider">
    <div class="article--container">
  <div class="my-video">
 <div class="item"><video controls="" autoplay="" muted="" loop="" width="100%" height="300">
<source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_1.mp4?v=1619499643" type="video/mp4">
  <source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_1.mp4?v=1619499643" type="video/ogg">
   
   </video></div>  
  <div class="item"><video controls="" autoplay="" muted="" loop="" width="100%" height="300">
<source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_2.mp4?v=1619594188" type="video/mp4">
  <source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_2.mp4?v=1619594188" type="video/ogg">
   
   </video></div>
    
     <div class="item"><video controls="" autoplay="" muted="" loop="" width="100%" height="300">
<source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_3.mp4?v=1619594585" type="video/mp4">
  <source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_3.mp4?v=1619594585" type="video/ogg">
   
   </video></div>
    
    
      
     <div class="item"><video controls="" autoplay="" muted="" loop="" width="100%" height="300">
<source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_4.mp4?v=1619594773" type="video/mp4">
  <source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_4.mp4?v=1619594773" type="video/ogg">
   
   </video></div>
    
    
      <div class="item"><video controls="" autoplay="" muted="" loop="" width="100%" height="300">
<source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_5.mp4?v=1619594890" type="video/mp4">
  <source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_5.mp4?v=1619594890" type="video/ogg">
   
   </video></div>
    
    
    
      <div class="item"><video controls="" autoplay="" muted="" loop="" width="100%" height="300">
<source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_6.mp4?v=1619595102" type="video/mp4">
  <source src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/videoplayback_6.mp4?v=1619595102" type="video/ogg">
   
   </video></div>
    
    
    </div>
    </div>
  </div>
  
  
  
    <div class="row back2">
<div class="article--container">
 <div class="flex"> 


<div class="col-md-5 flex-row">

<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-05_at_18.03.10.jpg?v=1617626023">
</div>
   <div class="col-md-7 flex-row">
<div class="wrapper">
<h6>
Memory Game Based on Ramayana,<br>
  <span>with Art & Story by Devdutt Pattanaik.</span><br>
For Ages 6 and up </h6>
  
  <ul class="vos">
    <li><b>64</b><span> memory<br>cards</span></li>
    <li><b>32</b> <span>art <br>cards</span></li>
    <li><b>32 </b><span>story <br>cards</span></li>
</ul>
<p>A fun-filled engaging memory game, kids can play alone or play together as a family. Make learning Ramayana fun for kids by matching illustrations of the famous characters (art cards) with their descriptions and the stories (story cards). </p>

</div>

</div>
        
</div>
  
  <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-05_at_18.06.57.jpg?v=1617626236" class="set">
</div>

</div>

  
  

    <div class="row back10">
<div class="article--container">
  
   <div class="flex"> 
  <div class="col-md-6 flex-row">
<div class="wrapper">
  

<span class="myto">“It’s a fun way to stimulate your child’s curiosity<br> around Indian Mythology!”</span>
<i>-Devdutt Pattanaik, Mythologist, Illustrator & Author </i>
<p>Best Selling Author, Leadership Coach, Mythologist Devdutt Pattanaik writes on the relevance of mythology in modern times, especially in areas of management, governance, and leadership. He is the author of more than 50 books and over 1000 columns with many bestsellers to his credit. He consults organizations on culture, diversity, and leadership and also consults various television channels and filmmakers on storytelling. His TV shows include Business Sutra on CNBC-TV18 and Devlok on Epic TV.</p>    </div>

</div>

<div class="col-md-6 flex-row">

<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/ezgif.com-gif-maker_5.png?v=1620389272">
</div>
 
        
</div>
  
</div></div>
  
  
  
  
   <div class="row-third">
     <div class="article--container">
       <div class="heading">
<h4 class="yel">Get One for Just Rs. 395</h4><br>
<h4 class="red">Even Better Buy Two! For Just Rs. 695</h4>
       </div>
  <div class="row">   
<div class="half">
<p>Epically Ramayana</p>
<h3>Single Piece</h3>
<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-06_at_10.23.35.jpg?v=1617685285">
<b>Rs. 395</b>
<a href="https://positivelyperfect.me/products/epically-ramayana-memory-matching-game-for-kids-ideas-for-birthday-return-gifts">Buy Now</a>
<ul>
<li> Include taxes and all charges</li>
<li>Free shipping</li>
<li> Free Downloadable DIY Art & Story Cards</li>
</ul>
</div>
     <div class="full">
<p>Epically Ramayana</p>
<h3>Set of two games</h3>
<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-06_at_10.24.03.jpg?v=1617685283">
<b>Rs. 695</b>
       <span class="sav"><b>Savings 12%  </b> |   Originally Rs. 790</span>       
<a href="https://positivelyperfect.me/products/epically-ramayana-memory-matching-game-return-birthday-gifts">Buy Now</a>
<ul>
<li> Include taxes and all charges</li>
<li>Free shipping</li>
<li> Free Downloadable DIY Art & Story Cards</li>
</ul>
</div>
 </div>
      </div>
</div>
  
    <div class="row back4">
<div class="article--container">
  
   <div class="flex"> 


<div class="col-md-6 flex-row">

<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-06_at_11.54.12.jpg?v=1617690453">
</div>
   <div class="col-md-6 flex-row">
<div class="wrapper">
<p>You get 8 Art Cards and 8 Story Cards based on Epically Ramayan. Just download and print from a regular A4 printer (prints on 8 A4 size pages). Hand it over to your children and see their imagination and creativity bloom. No color printer required. </p>
<p>Once you complete your purchase we will email you, your very own DIY Art and Story card PDF on the email ID you use at the time of purchase.</p>
</div>

</div>
        
</div>
  
</div></div>
  
  
    <div class="row back7">
<div class="article--container">
  <div class="col-md-6">
  <h4>Why Parents<br> Love Epically?</h4>
</div>
   <div class="col-md-6">
<div class="wrapper">
<div class="owl-carousel">
  <div class="item"><img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-12_at_16.09.33.jpg?v=1618224033" class="rev-set"><h4>Great Design. Excellent Quality.</h4><p>Every night when I am in town its story time and now every night my children will pick one card and ask me to tell the whole story. It feels so good and we have a really great time. I am happy that finally, we can talk about something connected to Indian culture and history. Otherwise in today’s age in time to get kids interested in such subjects is really tough.</p><b>Ravi Pandey</b></div>
  <div class="item"><img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-12_at_16.09.33.jpg?v=1618224033" class="rev-set"><h4>Great Design. Excellent Quality.</h4><p>Every night when I am in town its story time and now every night my children will pick one card and ask me to tell the whole story. It feels so good and we have a really great time. I am happy that finally, we can talk about something connected to Indian culture and history. Otherwise in today’s age in time to get kids interested in such subjects is really tough.</p><b>Ravi Pandey</b></div>
  
</div>
</div>
</div>

</div>
      
     <div class="wrapper-8"> 
   <div class="col-md-6">
  <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-13_at_11.34.36.jpg?v=1618295771">
      </div>
      
      <div class="col-md-6">
      <h4>#OurEpicMoment</h4>
<p>Share your Story with #OurEpicMoment & Win Epically<br> Ramayana for Free, One Winner Every Week. You can also<br> tag us on Instagram <b>@Epicallybydevdutt.</b> </p>
     <div class="site-sociial">
     <h6>Connect with us<br>
       & spread the joy</h6> {% include 'social-list' %}
    </div>
      </div>
  
      </div>
      
  </div>
  
  
  
  
  
  
     <div class="row back5">
<div class="article--container">
<div class="gray">
  <div class="table">
<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-06_at_14.53.11.jpg?v=1617701063">
<h4>A My India by Devdutt Merchandise</h4>
<p>Epically is a series of board and memory game within My India by Devdutt collection. My India by Devdutt is Devdutt’s own brand of merchandise which he has launched in collaboration with NineStory. The aim of My India merchandise is to encourage you to view different frameworks, discover new ideas and beliefs in bite-size bundles. Products that can become a part of your daily life, something you can hold, see, observe, explore, and reflect so that you can expand your mind towards limitless possibilities. View entire My India by Devdutt Collection at 
  </p>
  <a href="https://positivelyperfect.me/collections/my-india-by-devdutt">PositivelyPerfect.me</a>
  </div>
</div>
<div class="light">
    <div class="table">
<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-06_at_14.53.26.jpg?v=1617701063">
<h4>Positively Perfect</h4>
<p>An online store for buying all things Inspirational. If you are looking to buy something different, something that isn’t the usual mass-produced showpiece, something that is full of meaning and positive intention, then Positively Perfect has what you need. All of My India by Devdutt range including Epically is available at positivelyperfect.me

  </p>
  </div>
  </div>
</div>
</div>
  
    <div class="row back6">
<div class="article--container">
  
<ul class="accordion">
    <h4>Frequently asked questions</h4>
  <li>
    <a class="toggle" href=#>Is it true that Devdutt has drawn every single Art in this game?</a>
    <p class="inner">
      Absolutely True. Devdutt is an amazing illustrator. You can follow him on Instagram @Devduttmyth. You can see many of his live drawing videos.
    </p>
  </li>
  
  <li>
    <a class="toggle" href=#>How many cards are there in the box?</a>
    <p class="inner">
Total 64 cards in one Box. 32 Story Cards. 32 Art Cards.    </p>
  </li>
  
  <li>
    <a class="toggle" href=#>How big are the cards? What is the box size?</a>
    <p class="inner">
Each card as mentioned above is 3"x3". The box size is 6.25" x 3.25"x1.25" which contains all 64 cards.    </p>
  </li>
  
  <li>
    <a class="toggle" href=#>What is it made up off ? Is it safe for Children?</a>
    <p class="inner">
The cards are made of high quality thick card paper to be used by children. Outside box is made of sturdy thick material which ensure that the box does not break easily and last really long.    </p>
  </li>
   <li>
    <a class="toggle" href=#>How to play? Is the Instruction Card included?</a>
    <p class="inner">
Yes instruction are printed on the back of the box. So you will never loose a paper. It's easy to play.    </p>
  </li>
    <li>
    <a class="toggle" href=#>My kid is 5 years old can he play?</a>
    <p class="inner">
Even though we have mentioned that this is for kids 6 and over we have kids even at age 4 play the game. They are not able to read what is written but kids are very smart they start recognising the shape of letters and find their own way to play the game.    </p>
  </li>
</ul>

  
  
      </div></div>




  
  
<!--   <div id="insta-feed"></div> -->
 
</article>

<div class="epically-footer">
<div class="wrapper">
   <div class="col-md-7">
        <div class="cell">
<p>© All Rights reserved 2020. ‘My India by Devdutt’ is the trading name of Devdutt Pattanaik and Epically is the trademark of Devdutt Pattanaik and Nidhi Jain Seth. 
     </p>
     <p> Disclaimer:</p>
   <p>My India by Devdutt is Devdutt’s brand of merchandise. Product’s deeply rooted in our rich culture and heritage spanning over thousands of years yet, in many ways, relevant even in our current context. Products you can use daily at work or home. Give it as a thoughtful gift to someone you really care about friends, family, customers. Every My India by Devdutt product are no ordinary products, when you hold a My India by Devdutt Merchandise, our intention is that you come closer to our rich mythology in more ways than one.

     </p>
           </div> 
  </div>


 <div class="col-md-5">
   <div class="cell">
     <div class="cell-in">
     <h4>GO TO TOP</h4> <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-23_at_16.45.41.jpg?v=1619176566" class="top">
     
     </div>
     </div>
</div>
</div>
</div>


<style>
  
  
  @media screen and (max-width:767px) {
    
    a.none {
    display: none !important;
}
    .back1 h4 {
    padding-top: 2rem ;
}
.epically_ramayana article.site-page {
    margin-top: 62px !important;
}
    .epically-header {
    display: inline-flex !important;
          padding: 5px 0;
}
    .epically-header .col-md-5 {
    float: right !important;
    width: auto !important;
}
._1_kc0 {
position: inherit !important;
 float: right !important;
}
 
 .flex .col-md-7 {
    width: 100% !important;
}   
    .flex {
    display: inline-block !important;
    width: 100% !important;
}
    .epically_ramayana .article--container {
    display: inline-block !important;
    width: 100% !important;
}
    .back7 .col-md-6 {
    width: 100% !important;
    float: left;
}
    .row-slider .article--container {
    width: 100% !important;
    max-width: 100% !important;
}
    
    img.set {
    width: 100% !important;
    max-width: 100% !important;;
}
    .back7 .article--container {
    max-width: 100% !important;
    width: 100% !important;;
 
}
    .half, .full {
    width: 100% !important;
}
    .gray, .light {
    width: 100% !important;
}
  
  .wrapper-8 img, .back4 img, .back1 img, .back2 img, .table img, .full img, .back10 img,.epically-footer .col-md-7, .epically-footer .col-md-5 {
    width: 100% !important;
}
    .epically-footer .col-md-5 {
    display: inline-block !important;
    text-align: center !important;
      height:auto !important;
}
    .cell {
    display: inline-block !important;

}
    .back7 h4, .flex h4 {

    font-size: 40px!important;
}
    .epically-header .col-md-7 {
    width: auto!important;
 
}
    .epically-header .wrapper {
 
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
    .epically-header img {
    width: 100%;
    max-width: 130px;
}
    .row-second h4 {
 
    top: 0%!important;
   
    font-size: 38px !important;
}
   .wrapper-8 .col-md-6:nth-child(2) {
    padding-left: 1rem;
    padding-right: 1rem;
}
    
.row.back7 {
    padding-top: 1rem !important;

}
.epically-footer .col-md-7 {
  height: auto !important;
    padding: 1rem;
}
    .cell-in {

    padding-top: 1rem;
    padding-bottom: 1rem;
}
  .row.back10 {
 padding: 10rem 1rem 10rem 1rem !important;
}
.back2 .article--container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.back2 li {
 width: 23% !important;
}
  }
  
  

.row.back10 {
    background: #fffef7;
    padding: 10rem 4rem 10rem 4rem;
     position: relative;
}
  .row.back10:after {
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/0286/6508/6083/files/ezgif.com-gif-maker_6.png?v=1620389528);
    display: block;
    width: 100%;
    height: 140px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
 
    .row.back10:before {
   content: '';
    background: url(https://cdn.shopify.com/s/files/1/0286/6508/6083/files/ezgif.com-gif-maker_7.png?v=1620389886);
    display: block;
    width: 100%;
    height: 80px;
      background-position: 54px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
  .back10 p {
     color: #292929cf;
 
    font-size: 17px !important;
}
  span.myto {
    display: block;
    width: 100%;
    text-align: left;
    color: #F0430E;
    font-size: 28px;
    padding-bottom: 1rem;
}
.back10 i {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 14px;
}   
  .back5 .table {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
  .row.back5 .article--container {
    margin-top: 0;
    display: inline-block;
    width: 100%;
    max-width: 100%;
}
.row.back5 {
    display: inline-block;
    width: 100%;
}
 .epically_ramayana article.site-page {
    
   
    margin-bottom: 0;
}
.cell-in h4 {
    margin-top: 6px;
    margin-bottom: 0;
    margin-right: 4px;
}
img.top {
    cursor: pointer;
    width: 100%;
    max-width: 45px;
    display: inline-block;
    }

.cell-in {
    display: inline-flex;
}
  
  .epically-footer {
    display: inline-block;
   width: 100%;
}
.epically-footer .col-md-7 {
    width: 70%;
    float: left;
    background: black;
    display: table;
    height: 400px;
}
.epically-footer .col-md-5 {
    width: 30%;
    float: right;
    display: table;
    background: #f15922;
    height: 400px;
}
  .col-md-5 a:nth-child(1) {
    padding-top: 20px;
    display: inline-block;
}
  .epically-footer .col-md-7 {
    width: 70%;
    float: left;
}
.col-md-7 .cell p {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 15px auto;
}
.epically-footer .col-md-5 {
     width: 30%;
    text-align: center;
    float: right;
    font-size: 23px;
    font-weight: 800;
}
  .cell p {
    font-size: 14px;
}
  .cell {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
  .epically-header a {
    color: inherit;
    text-decoration: none;
}
  
  ._1_kc0 {
    background: #800ec2;
    color: white;
    position: absolute;
    top: 23px;
        margin-left: 15px;
    border: none;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
}
    ._1_kc0:hover {
      color: #800ec2;
      background: white;
         border: 1px solid #800ec2;
      }
  span._3fUtn {
    color: white;
}
   ._1_kc0:hover  span._3fUtn {
      color:#800ec2;
  
      }
  .epically-header .col-md-7 {
    width: 70%;
    float: left;
}
  .epically-header .col-md-5 {
    float: right;
    width: 30%;
}
  .epically_ramayana header.site-header.site-header-nav--open, .epically_ramayana footer {
    display: none;
}
  .epically-header {
    display: inline-block;
    width: 100%;
    /* padding: 1rem; */
    box-shadow: 0px 0px 4px #00000057;
    position: fixed;
    top: 0;
    z-index: 9;
    background: white;
    /* margin-bottom: 12rem; */
}
  .epically-header .wrapper {
    display: inline-block;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}
  .wrapper-8 .social-link svg {
       width: 70px;
        height: 70px;
        background-color: transparent;
}
  .site-sociial {
    display: inline-flex;
 padding-top: 3rem;
}
  .row-slider .article--container {
    width: 100%;
    max-width: 1200px;
}
  .row-slider .owl-nav span {
    color: #0000008c;
    font-size: 80px;
}
.row-slider button.owl-next {
   
    right: 0px;
   
}
.row.back7:after {
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/0286/6508/6083/files/WhatsApp_Image_2021-04-13_at_12.32.03.jpg?v=1618297325);
    width: 234px;
    height: 211px;
    display: block;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
.site-sociial h6 {
    margin-top: 13px;
    color: #fff;
}
.wrapper-8 .social-link {
     width: 70px;
    height: 70px;
   color: #ffffff;
}
.wrapper-8 {
    display: inline-block;
    width: 100%;
    padding-top: 4rem;
}
  .wrapper-8 h4 {
    margin-bottom: 7px;
}
  
  .row.back6 {
    display: inline-block;
    width: 100%;
}
  .back7 .col-md-6 {
    width: 50%;
    float: left;
}
.back7 .article--container {
    max-width: 1000px;
    width: 100%;
   display:block;
    margin: 0 auto;
}
.back7 h4   {
    color: #fff;
    font-size: 60px;
}
 .back7 p {
    color: #fff;
    font-size: 16px;
}
 button.owl-prev {
    position: absolute;
   top: 39%;
}
.owl-nav span {
    color: #fff;
    font-size: 40px;
}

button.owl-next {
    position: absolute;
    right: 0;
    top: 39%;
  } 
  
.owl-carousel h4 {
    margin: 0;
    font-size: 18px;
}
.owl-carousel b {
    color: #FEDD00;
}
.owl-carousel  .item {
    padding: 2rem;
}
  img.rev-set {
    width: 100%;
    max-width: 100px;
    margin-bottom: 1rem;
}
.accordion li {
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}
  
  .table p {
    width: 100%;
    max-width: 433px;
    font-size: 14px;
    line-height: 20px;
}
  .gray {
    width: 50%;
    float: left;
    background: #dbf2f1;
    padding: 3rem;
    height: 570px;
}
.bott a:hover {
    color: #f15922;
    border: 1px solid #800ec2;
    background: #800ec2;
}
  .back2 .article--container {
    padding-left: 5rem;
    padding-right: 5rem;
}
  .row.back2 {
    padding-top: 7rem;
}
.light {
    width: 50%;
    float: right;
    background: #ebdbf7;
    padding: 3rem;
    height: 570px;
}
  .row.back7 {
    padding-top:9rem;
    background: #f15922;
    display: inline-block;
    width: 100%;
    position:relative;
}
  .back2 li {
    display: inline-block;
    width: 32%;

}
  a.toggle {
    text-decoration: none;
}
  .accordion h4 {
    margin-top: 0;
    margin-bottom: 15px;
}
ul.accordion {
    list-style: none;
    padding: 0;
    width: 100%;
    background: #fff;
    max-width: 800px;
    margin: 0 auto;
      padding: 3rem;
}
  .heading {
    text-align: center;
    display: inline-block;
    width: 100%;
}
h4.yel {
      display: inline-block;
    background: #FAC224;
    padding: 6px;
    font-size: 40px;
    color: #172730;
}
h4.red {
    display: inline-block;
    background: #F0430E;
    color: #fff;
      font-size: 40px;
    padding: 6px;
}
.vos b {
    float: left;
    font-size: 74px;

    padding-right: 9px;
}
  .sav b {
    font-weight: normal;
    font-size: 21px !important;
    padding-top: 0 !important;
    padding-right: 1rem;
}
span.sav {
    display: inline-flex;
    width: 100%;
}
.vos span {
    color: #00ffe4;
    float: left;
    font-size: 22px;
    padding-top: 19px;
}
  
  .epically_ramayana article.site-page {
    margin-top: 92px;
}
.article--container {
    margin-top: 0;
}
  .flex-row p {
    width: 100%;
    max-width: 500px;
    text-align: left;
        line-height: 30px;
    font-size: 20px;
}

  .bott a {
    border-radius: 30px !important;
    background: #f15922;
    display: inline-block;
    margin-top: 2rem;
    color: #fff;
    padding: 15px 30px 15px 30px;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 0px 3px 2px 0px #800ec2;
}
  .row.back2, .row.back4, .row.back6  {
    background: #800ec2;
    
}
.row.back4 {
    padding: 5rem 0;
}
 .row.back4 p {
    color: #ffffff94;
    font-size: 14px;
}
  .back4 .article--container {
    padding-left: 4rem;
    padding-right: 4rem;
}
  .back2 .article--container {
    margin-top: 0;
}
.bott {
    display: inline-block;
    width: 100%;
    text-align: left;
}

  img.set {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    padding-top: 6rem;
}
  .flex h4 {
        margin-top: 0;
  
    text-align: left;
       font-size: 60px;
    color: #172730;
    margin-bottom: 1rem;
}
  .back1 p, .bott a, span.myto, .full a, .half a, .site-sociial h6, span._3fUtn{
  font-family: Emirates Bold!important;
}
  .back1 {
    background: rgb(218, 243, 242);
}
.flex {
    display: inline-flex;
    width: 100%;
}
  
.back2 li {
    display: inline-block;
    width: 32%;
}
.back2 ul {
    padding-left: 0 !important;
    list-style: none;
    color: #00ffe4;
    font-family: Ek03plain L02 !important;
    font-size: 24px;
}
.flex .col-md-7 {
    width: 60%;
}
.flex-row {
    text-align: center;
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    /* -webkit-flex: 1 0 auto; */
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    /* display: -webkit-box; */
    display: -moz-box;
    display: -ms-flexbox;
    /* display: -webkit-flex; */
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    /* -webkit-justify-content: center; */
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}
  .epically_ramayana h4, .epically_ramayana h3{
  
      font-family: Emirates Bold !important;
  }
.row-second img {
    width: 100%;
}
  .row-third a:hover {
    border: 1px solid #f15922;
    background: #fff;
    color: #f15922;
}

  .row-second h4 {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 4rem;
}

.row-second {
    display: inline-block;
    width: 100%;
    position: relative;
}

.back2 span {
    color: #00ffe4;
}
.back2 h6 {
    color: #fedd00;
    font-family: Ek03plain L02 !important;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 1rem;
}
 .back2  .wrapper {
    text-align: left;
}
.back2 p {
    color: #fff;
}
img.set {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: block;
}
.row-third {
    background: #dbf2f1;
    display: inline-block;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.row-third h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
}
.row-third .row {
    display: block;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.half {
    width: 50%;
    float: left;
    padding: 3rem;
}
.full {
    width: 50%;
    float: right;
    background: #fff;
    padding: 3rem;
    box-shadow: 0px 0px 3px 3px #0000001a;
}


.half p, .full p {
    margin-bottom: 7px;
}
.half h3 {
    color: #2dd3c6;
    font-weight: bold;
    margin-top: 0;
      font-size: 40px;
}
.full h3 {
    margin-top: 0;
    color: #f05a21;
    font-weight: bold;
      font-size: 40px;
}
.half b {
    display: block;
    color: #30dcd6;
    font-size: 35px;
    padding-top: 1rem;
}
.full b {
    display: block;
    color: #f05a21;
    font-size: 35px;
    padding-top: 1rem;
}
.full a, .half a  {
    border-radius: 30px !important;
    background: #f15922;
    display: inline-block;
     margin-top: 1rem;
    color: #fff;
    padding: 13px 50px 13px 50px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1rem;
}

.full ul, .half ul {
    padding: 0;
    font-size: 14px;
    color: #000000b3;
}

.epically_ramayana #insta-feed h2 {
    display: none;
}
.epically_ramayana div#insta-feed {
    margin: 0;

}
  
.row.back4 {
    padding: 3rem 0;
}
  

  ul .inner {

  overflow: hidden;
  display: none;
}



ul li a.toggle {
   width: 100%;
    display: block;
    color: #000000a6;
    padding-bottom: 20px;
    border-radius: 0.15em;
    transition: background 0.3s ease;
    padding-top: 20px;
}
ul li a.toggle:after {
    content: '+';
    float: right;
}
  
   
</style>


{{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}
{{ 'owl.carousel.js' | asset_url | script_tag }}
{{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
{{ 'owl.theme.default.css' | asset_url | stylesheet_tag }}



 <script>
      //jQuery.noConflict();
    var jquery = null;
    if (window.jQuery) {
      jquery = window.jQuery;
    }
      jquery(document).ready(function() {
        jquery('.owl-carousel').owlCarousel({
          
          stagePadding: 0,
    items: 1,
    loop:true,
    autoplay:false,
       autoplayHoverPause:true, 
    margin:0,
    singleItem:true,
    nav:true,
   
    dots:false
        
      })
      });
  </script>

 <script>
    
      jquery(document).ready(function() {
        jquery('.my-video').owlCarousel({
          
     
    items: 2,
   margin:10,    
    loop:true,
    autoplay:false,
       autoplayHoverPause:true, 
   
    singleItem:true,
    nav:true,
   
    dots:false
        
      })
      });
  </script>

 <script>
$('.top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);
});

 </script>
